/* file name: Assig.css
// Name: Menal Humeda
// Student ID:301160220
   Date:03/10/2022  */


#div{

    padding-top: 25px;
}
body{
  
    background-color: aliceblue;

}
h3{
    color:blue;
}
a{
    padding:10px;

}