/* file name: Assig.css
// Name: Menal Humeda
// Student ID:301160220
 Date:03/10/2022  */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
